@import "style";
.transact-box {
    background: $white-bg;
    border-radius: 4px;
    padding: 0px;
    p {
        padding: 0.8rem 0;
    }
    .transact-top {
        padding: 1.6rem;
    }
}

.transact-bottom {
    background: #F0F0F0;
    border-radius: 4px;
    padding: 1.6rem;
}

.transact-drop {
    width: 100%;
    margin-bottom: 1.6rem;
    select {
        border-radius: 0px;
        padding: 1rem .75rem;
        height: auto;
    }
}

.StepProgress {
    position: relative;
    padding-left: 45px;
    list-style: none;
    &::before {
        display: inline-block;
        content: '';
        position: absolute;
        top: 0;
        left: 15px;
        width: 10px;
        height: 80%;
        border-left: 1px solid $dark-grey;
    }
    &-item {
        position: relative;
        counter-increment: list;
        font-size: 1.2rem;
        &:not(:last-child) {
            padding-bottom: 20px;
        }
        &:last-child::before {
            display: none;
        }
        &::before {
            display: inline-block;
            content: '';
            position: absolute;
            left: -30px;
            height: 100%;
            width: 10px;
        }
        &::after {
            content: '';
            display: inline-block;
            position: absolute;
            top: 0;
            left: -37px;
            width: 16px;
            height: 16px;
            border: 1px solid $dark-grey;
            border-radius: 50%;
            background-color: $white-bg;
        }
        &.is-done {
            &::before {
                border-left: 1px solid #4EC8A3;
            }
            &::after {
                content: "✔";
                font-size: 0.9rem;
                color: #FFF;
                text-align: center;
                border: 2px solid #4EC8A3;
                background-color: #4EC8A3;
            }
        }
        &.current {
            &::before {
                border-left: 2px solid #4EC8A3;
            }
            &::after {
                content: '';
                padding-top: 1px;
                width: 19px;
                height: 18px;
                top: 0px;
                left: -38px;
                font-size: 0.9rem;
                text-align: center;
                color: #4EC8A3;
                border: 2px solid #4EC8A3;
                background-color: white;
            }
        }
    }
    strong {
        display: block;
    }
    p {
        padding: 0.4rem 0;
    }
    span {
        font-weight: 300;
    }
    .color-green {
        color: $green-text;
        font-weight: 500;
    }
}